/* custom form elements */
.login-image {
    text-align: center;
    margin: auto;
}

.main-img img{
    width: 20%;
}

.error {
    color: red;
}

.form-error {
    color: yellow;
    padding: 4px;
    margin: auto;
}

.header {
    float: right;
    text-align: right;
    padding: 24px 34px 12px 10px;
}


.footer {
    text-align: center !important;
    padding: 20px 0px 20px 0px;
}

.login-image img {
    display: table-cell;
    vertical-align: middle;
}

table tr .selected {
    font-weight: bold;
}

.dashboard{
    padding: 52px;
    line-height: 38px;
}

.featured {
    font-weight: bolder;
    font-size: 28px;
    margin-left: 4px;
    margin-right: 4px;
}

input.result{
   color: gray;
   min-width: 70px;
   text-align: center;
}

.show-msg{
    text-align: center;
    margin: auto;
}

tr h3{
    margin: 15px 0 15px 0;
}

.full-name{
    display: block;
    text-transform: capitalize;
}

/* media queries for responsive design */

@media only screen and (max-width: 500px) {

    .load-team, .load-result{
        padding: 0%;
        margin: 0%;
    }

    .load-team{
        padding: 0 0 0 6px
    }

    .load-vs{
        margin: auto;
    }

    .load-flag{
        display:none;
    }
}