/* custom form elements */
.login-image {
    text-align: center;
    margin: auto;
}

.main-image img{
    width: 19%;
}

.error {
    color: red;
}

.form-error {
    color: yellow;
    padding: 4px;
    margin: auto;
}

.header {
    float: right;
    text-align: right;
    padding: 24px 34px 12px 10px;
}


.footer {
    text-align: center !important;
    padding: 20px 0px 20px 0px;
}

.login-image img {
    display: table-cell;
    vertical-align: middle;
}

table tr .selected {
    font-weight: bold;
}

input.result{
   color: gold;
   min-width: 70px;
   text-align: center;
}